body{


    background-image: url('../img/random/body.jpg');
    margin-top:-100px;


}






/* ----------------------------------------------------NavBar--------------------------------------------------------------------- */


/* .v1{

    animation: a;
    animation-duration:84s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

@keyframes a {

    0%{

        /* animation-play-state: running; */
    /* }

    10%
{


}



20%
{

    
}



30%
{

    
}



40%
{

    
}



50%
{

    
}



60%
{

    
}




70%
{

    
}




80%
{

    
}



90%
{

    
}
    
    100%{

        height: 00%;
      background-color: black; */
        /* width: 00%; */
        
    

    /* }
} */





.nav_bar{
background-color:rgba(6, 6, 6,70%);
width: 100%;
height: 65px;
display: flex;
position:fixed;
z-index: 3;

margin-top: -25px;




}



.navigation{

    display: flex;
    /* position: fixed; */
    

}


.nav_b{

    display: flex; 
    margin-left: 250px;


}


/* <!-- -----------------------------------------------------nav bar buttons--------------------------------------------------- --> */


.a_nav{

text-decoration: none;
font-size: 15px;
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
color: white;
font-weight: 100px;
/* margin: auto; */
/* padding:1px ; */
margin-left: 15px;

}

.a_nav:hover{

    color: #fb5300ff;

}


.nav_buttons{

    /* border: 2px solid  #fb5300ff;; */
    margin-left: 30px;
    height: 30px;
    width: 73px;
    margin-top: 10px;
    
    /* padding: 20px; */
    /* position: relative;/
    
    
    */

}




.nav_buttons:hover
{

    border: 2px solid  #fb5300ff;;
    border-style:double;
  

}





/* <!-- -----------------------------------------------------nav bar buttons--------------------------------------------------- --> */








/* <!---------------------------------------------------slider--------------------------------------------------------------------> */



.bgmi{

  
    height: 200px;
    width: 100%;
    /* border: 1px solid white; */

    
}

.bg_video{

    /* height: 300px; */
    /* width: 1000px; */
    position: absolute;
    z-index: 1;
    margin-top: -800px;
}

.demo{

    
    height:800px;
    width: 100%;
    position: relative;
    z-index: 2;
    background-color:rgba(0, 0, 0,60%);

}














video{

    width: 100%;
    /* animation: a; */
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: 67s;
    transition: all 3s;
    /* z-index: -1; */
    /* position: absolute ; */


}

/* @keyframes a {

    0%{
        width: 100%;
        height: 100%;
        position: fixed;

    }

    25%{

        width: 75%;
        height: 75%;
        position: fixed;
        margin-left: 100px;

    }

    50%{

        width: 50%;
        height: 50%;
        position: fixed;
        margin-left: 200px;
    }

    75%{

        width: 25%;
        height: 25%;
        position: fixed;
        margin-left:200px;


    }

    100%{

        width: 00%;
        height: 00%;
       

    }
    
} */



.sl{

    width: 100%;
    z-index: 1;
    height: 600px;
    /* background-color: aqua; */
   background-image: url(../img/agresive/a1.png);
    background-position: center;
    background-size: cover;
/* position: fixed; */
/* background-color: #fb5300ff; */


    animation: animation_1;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transition: all 3s;
    /* margin-top: -20px; */
}

@keyframes animation_1 {

0%{

    background-image: url(../img/agresive/a1.png);
}

50%{

    background-image: url(../img/agresive/a2.png);

}


100%{

    background-image: url(../img/agresive/a1.png);
}

    
}


.sl_txt{

    /* background-color:rgb(0, 0, 0, ); */
   


}

.main_heading{
 
    /* font-family: 'Oswald', sans-serif;*/
    /* font-family: 'Rubik Iso', cursive;  */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: 'Pacifico', cursive; */
    font-family: "Cyberverse";
    letter-spacing: 6px; 
margin-left:550px;
    text-shadow: 6px 8px 0px   #ff7843;
    color: rgb(249, 250, 251);
    box-sizing: border-box;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
    /* margin-top: 3x0px; *nn
/* 
    -webkit-text-stroke: 4px #ff7843; */

}

.f1{
    font-family: "Cyberverse";
    letter-spacing: 6px; 

    text-shadow: 6px 8px 0px   white;
    color:#ff7843;
    box-sizing: border-box;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;


}







/* <!---------------------------------------------------slider--------------------------------------------------------------------> */
/* ------------------------------Games------------------------------ */
.heading2{
    color: aliceblue;
    font-family: "Cyberverse";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}



.grid-container {
    margin-left: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    margin-right: 80px;
    /* box-shadow: inset 10px -10px 500000000px 8px #470a73ff; */
    
    box-shadow:  10px -10px 500000000px 8px #46152bff;
    
    box-shadow: inset 10px -10px 500000000px 8px #470a73ff;

  }
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    margin-top: 15px;
    font-size: 30px;
    position: absolute;
    width: 250px;;
    text-align: center;
    position:static;
    z-index: 1;
    /*background-color:rgba(119, 119, 118,70%);*/
  }

  .grid-item img:hover{

    /* box-shadow: inset 20px -20px 50px 8px rgb(213, 30, 173); */
    padding: 20px;
    font-size: 50px;
    width: 250px;
    height:250px;
    z-index: 2;

  }






/* ------------------------------Games------------------------------ */





/* <!-- ---------------------------------------about------------------------------------ --> */


.about{

    position: relative;
    margin-top: 1500px;
    height: 700px;
    width: 100%;
    display: flex;
    /* border:1px solid #ff7843;*/
}



.img_about{

    width: 700px;
    /* border:1px solid #ff7843; */
}


.ghost{

width: 500px;
height:600px;
margin-left: 150px;
margin-top: 50px;
animation-duration:3s;
/* animation: gh duration linear 1s infinite linear ; */
animation-name: gh;
animation-delay:1s;
transition: all 3s;

}



@keyframes gh 
{

    0%{

        margin-left: -500px;

    }

    50%{

        margin-left: 150px;

        transform:scaleX(500px);


    }



    
}   
about_txt{

    margin-right: 0px;
    width: 850px;
    /* border:1px solid #ff7843; */
}




@keyframes tx 
{

    0%{

        margin-left: 1500px;

    }

    50%{

        margin-left: 50px;

        transform:scaleX(-500px);

    }



    
}

.p_about{

margin-left: 50px;
font-family: "Cyberverse";
margin-top: 80px;
color: whitesmoke;
animation-duration:3s;
/* animation: gh duration linear 1s infinite linear ; */
animation-name: tx;
animation-delay:1s;
transition: all 3s;

 
 


}









/* <!-- ---------------------------------------about------------------------------------ --> */

.sq_main{

    margin-left:100px; 


}


.sq{

    margin-left: 20px;
    height: 300px;
    width: 300px;
    /* border:1px solid #ff7843; */
/* position:absolute; */

border-radius: 50px;

box-shadow: 8px 8px 5px 0px rgb(111, 31, 56);


}



.sq_img{
margin: auto;
margin-top: 20px;
    height: 200px;
    width:200px;
    border:1px solid #ff7843;
    background-image: url(../item/i1.png);
    background-position: center;
    background-size: cover;
}

.sq_img:hover
{

background-image: url(../item/i2.png);



}

.sq_txt{
color: white;
text-align: center;
margin-top: 10px;
font-style: italic;
}




.View_More{

    font-size: 40px;
    font-family:"Cyberverse";
    background-color: #ff7843;
    color: #7603c7ff;
 border-radius: 50px;

}
.View_More:hover{

    font-size: 40px;
    font-family:"Cyberverse";
    background-color:transparent;
    color:  #ff7843;
 border-radius: 50px;
 box-shadow: 20px 20px 30px 0px #7603c7ff ;

}

.ques{

display: flex;
color: white;

}



.qu_img{

/* margin-left: 350px; */
margin-left: -120px;
height: 1000px;

margin-top: 50px;

}


.que_div1{

    width: 500px;
    /* border:1px solid rgb(237, 28, 122); */
    height: 1000px;
    color: white;
    font-size: 40px;
    font-family:"Cyberverse";

}

.que_div2{
    color: white;
    width: 500px;
    height: 1000px;
    /* border:1px solid rgb(237, 28, 122); */
    /* position: absolute; */
    /* margin-left: 450px;  */
}

.que_div3{
    width: 500px;
    /* border:1px solid rgb(237, 28, 122); */
color: white;
    height: 1000px;
    
 

}

.question{
    font-size: 30px;
    font-family:"Cyberverse";
    color:#ff7843;

    margin-left: 20px;
    word-spacing: 5px;
    letter-spacing: 2px;

    margin-top: 200px;
    animation-duration:3s;
    /* animation: gh duration linear 1s infinite linear ; */
    animation-name: qy;
    animation-delay:1s;
    transition: all 3s;
}





.ans{
    font-size:20px;
    font-family:"Cyberverse";
    
    margin-left: 20px;
margin-top: 10px;
word-spacing: 5px;

letter-spacing: 2px;

animation-duration:3s;
/* animation: gh duration linear 1s infinite linear ; */
animation-name: ay;
animation-delay:1s;
transition: all 3s;
   
}





@keyframes qy 
{

    0%{

        margin-top: 1500px;

    }

    50%{

        margin-top:200px;

        transform:scaleY(-500px);

    }



    
}









@keyframes ay 
{

    0%{

        margin-top: 1500px;

    }

    50%{

        margin-top: 10px;

        transform:scaleY(-500px);

    }



    
}


/* ---------------------------------footer---------------------------------------- */



.foot{

    height: 500px;
    width: 100%;
    /* background-color:#ff7843; */
    margin-top: 100px;
    margin-bottom: -100px;




}




  #lower{

    height:50px;
    padding: 10px;
    width: 100%;
    /* background-color: rgb(24, 115, 195); */
    

  }

 #upper{

    height: 400px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;


 }

 .foot_div{

    /* border:1px solid #ff7843; */
    width: 600px;
    height: 400px;
    color: white;
    padding: 50px;
 }

 .foot_p{

    font-size:15px;
    font-family:"Cyberverse";
    word-spacing:-4px;
    letter-spacing: -1px;





 }


 #lower{

    color: whitesmoke   ;
    text-align: center;

 }

.div_lower{



}


.lp{

    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 0px;


}








/* -------------------------------footer-------------------------------------- */


/* 
________________________________________________________________________________________________________________________________
================================================================================================================================

                                        media Quearies

================================================================================================================================
________________________________________________________________________________________________________________________________
*/


    @media only screen and (max-width:1150px){
    

        
            
            .nav_b{

                display: flex; 
                margin-left: 100px;


            }

    





            .third_row{

        
                margin-top: 20px;
        
                margin-left:20px ;
                margin-right: 20px;
                cursor: pointer;
                
                height: 350px;
                background-color: white;
                /* padding-left: 5px; */
                padding-top: 10px;
                display: flex;
        
            }
        
            .item{
        
            
                /* background-color: #2874f0;  */
                width: 278px;
                height:340px;
                justify-content: center;
                text-align: center;
        
                margin-left: 10px;
               border: solid 0.2px rgb(194, 192, 192);
               border-radius: 2px;
            }
        




}
/* 
________________________________________________________________________________________________________________________________
================================================================================================================================

                                        media Quearies 2

================================================================================================================================
________________________________________________________________________________________________________________________________
*/ 




@media only screen and (max-width:850px){


    .nav_b{

        display: flex; 
        margin-left:30px;


    }


}